doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='./css/cssreset-min.css', rel='stylesheet', type='text/css')
    link(href='./css/styles.css', rel='stylesheet', type='text/css')
    title Focal
  body.body
    header.header#home
      .header-background
        .slider
          .slider-content
            ul.slide-list
              each slide in [0, 1, 2]
                li.slide-item(class= slide === 0 ? 'current' : '')
                  img(src=`./img/slides/slide${slide}.png`, alt='slide ${slide}')
          .slider-controls
            .toggle-list
              .toggle-item.current
              .toggle-item
              .toggle-item
      .header-content
        h1.header-content-title WEB & GRAPHIC DESIGNER
        button.button.header-content-action LEARN MORE
    .toolbar
      .toolbar-content.centered-content
        .toolbar-left.logo
          span.logo-avatar F
          span.logo-text
            | FO
            span.-green CAL
        nav.toolbar-right.nav-list
          each navItem in ['home', 'about-me', 'skills', 'resume', 'testimonials', 'portfolio', 'contact-me']
            a.nav-item(href=`#${navItem}`) #{navItem.replace('-', ' ').toUpperCase()}
    section#goals.section-block.centered-content
      .goal-item
        h2.h2.goal-item-name VALUES
        p.description-item
         | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
         | disputando cu est.
      .goal-item
        h2.h2.goal-item-name GOALS
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
          | disputando cu est.
      .goal-item
        h2.h2.goal-item-name HOBBIES
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
          | disputando cu est.
    section#about-me.section-block
      .photo
        img(src='./img/person1.png', alt='photo')
      .about-me
        .about-me-title
          h2.h2.title-head ABOUT ME
          p.description-item
            | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
            | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
          p.description-item
            | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
            | disputando cu est, eam dicam soluta ei.
        .about-me-content
          .content-item
            .content-item-icon.web-design
            .content-item-description
              h3.h3 WEB DESIGN
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.graphic-design
            .content-item-description
              h3.h3 GRAPHIC DESIGN
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.online-marketing
            .content-item-description
              h3.h3 ONLINE MARKETING
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.seo
            .content-item-description
              h3.h3 SEO
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
    section#skills.section-block.centered-content
      .skills-description
        h2.h2 MY SKILLS
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
          | cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
          | cu est.
        button.button.contact-me CONTACT ME
      .skills-graphs
        .skills-graphs-item
          h3.h3 PHOTOSHOP
          .skill-diagram-container
            .skill-diagram-progress.photoshop 90%
        .skills-graphs-item
          h3.h3 ILLUSTRATOR
          .skill-diagram-container
            .skill-diagram-progress.illustrator 80%
        .skills-graphs-item
          h3.h3 HTML / CSS
          .skill-diagram-container
            .skill-diagram-progress.html-css 90%
        .skills-graphs-item
          h3.h3 PHP / MYSQL
          .skill-diagram-container
            .skill-diagram-progress.php-mysql 70%

    section#resume.section-block
      h2.h2 RESUME
      p.information.description-item
        | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
        | cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
      button.button.download-resume DOWNLOAD RESUME

    section#education.section-block
    section#experience.section-block
    section#testimonials.section-block
    section#portfolio.section-block
    section#contact-me.section-block
    footer
    script(src='./js/slider.js')
