doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(href='./css/cssreset-min.css', rel='stylesheet', type='text/css')
    link(href='./css/styles.css', rel='stylesheet', type='text/css')
    title Focal
  body.body
    header.header#home
      .header-background
        .header-slider
          .slider-content
            ul.slide-list
              each slide in [0, 1, 2]
                li.slide-item(class= slide === 0 ? 'current' : '')
                  img(src=`./img/slides/slide${slide}.png`, alt='slide ${slide}')
          .slider-controls
            .toggle-list
              .toggle-item.current
              .toggle-item
              .toggle-item
      .header-content
        h1.header-content-title WEB & GRAPHIC DESIGNER
        button.button.header-content-action LEARN MORE
    .toolbar
      .toolbar-content.centered-content
        .toolbar-left.logo
          span.logo-avatar F
          span.logo-text
            | FO
            span.-green CAL
        nav.toolbar-right.nav-list
          each navItem in ['home', 'about-me', 'skills', 'resume', 'testimonials', 'portfolio', 'contact-me']
            a.nav-item(href=`#${navItem}`) #{navItem.replace('-', ' ').toUpperCase()}
    section#goals.section-block.centered-content
      .goal-item
        h2.h2.goal-item-name VALUES
        p.description-item
         | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
         | disputando cu est.
      .goal-item
        h2.h2.goal-item-name GOALS
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
          | disputando cu est.
      .goal-item
        h2.h2.goal-item-name HOBBIES
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute
          | disputando cu est.
    section#about-me.section-block
      .photo
        img(src='./img/person1.png', alt='photo')
      .about-me
        .about-me-title
          h2.h2.title-head ABOUT ME
          p.description-item
            | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
            | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
          p.description-item
            | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
            | disputando cu est, eam dicam soluta ei.
        .about-me-content
          .content-item
            .content-item-icon.web-design
            .content-item-description
              h3.h3 WEB DESIGN
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.graphic-design
            .content-item-description
              h3.h3 GRAPHIC DESIGN
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.online-marketing
            .content-item-description
              h3.h3 ONLINE MARKETING
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
          .content-item
            .content-item-icon.seo
            .content-item-description
              h3.h3 SEO
              .description-item Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam.
    section#skills.section-block.centered-content
      .skills-description
        h2.h2 MY SKILLS
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
          | cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
        p.description-item
          | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
          | cu est.
        button.button.contact-me CONTACT ME
      .skills-graphs
        .skills-graphs-item
          h3.h3 PHOTOSHOP
          .skill-diagram-container
            .skill-diagram-progress.photoshop 90%
        .skills-graphs-item
          h3.h3 ILLUSTRATOR
          .skill-diagram-container
            .skill-diagram-progress.illustrator 80%
        .skills-graphs-item
          h3.h3 HTML / CSS
          .skill-diagram-container
            .skill-diagram-progress.html-css 90%
        .skills-graphs-item
          h3.h3 PHP / MYSQL
          .skill-diagram-container
            .skill-diagram-progress.php-mysql 70%

    section#resume.section-block
      h2.h2 RESUME
      p.information.description-item
        | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
        | cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
      button.button.download-resume DOWNLOAD RESUME
    section#testimonials.section-block.centered-content
      .testimonial-item
        h2.h2 MY EDUCATION
        .testimonial-content
          .testimonial-content-description
            p.description-item
              | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
              | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
            p.description-item
              | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
              | disputando cu est.
          .testimonials
            .testimonial
              h3.h3 GRAPHIC DESIGN DIPLOMA
              .testimonial-title
                span.-text-bold Reeves College
                |  /  June 2008 - May 2010
              .testimonial-level.-text-bold 4.0 GPA
              p.description-item.testimonial-description
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
            .testimonial
              h3.h3 CIT DIPLOMA
              .testimonial-title
                span.-text-bold Lethbridge College
                |  /  June 2006 - May 2008
              .testimonial-level.-text-bold 4.0 GPA
              p.description-item.testimonial-description
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.

      .testimonial-item
        h2.h2 WORK EXPERIENCE
        .testimonial-content
          .testimonial-content-description
            p.description-item
              | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
              | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri.
            p.description-item
              | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
              | disputando cu est.
          .testimonials
            .testimonial
              h3.h3 LEAD WEB DESIGNER
              .testimonial-title
                span.-text-bold ABC Company, Saskatoon
                |  /  June 2011 - Present
              .testimonial-level.-text-bold 3 Years
              p.description-item.testimonial-description
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
            .testimonial
              h3.h3 JUNIOR DESIGNER
              .testimonial-title
                span.-text-bold XYZ Company, Lethbridge
                |  /  June 2008 - May 2009
              .testimonial-level.-text-bold 1 Year
              p.description-item.testimonial-description
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
            .testimonial
              h3.h3 WEB DEVELOPER
              .testimonial-title
                span.-text-bold The Company, Lethbridge
                |  /  June 2007 - May 2008
              .testimonial-level.-text-bold 1 Year
              p.description-item.testimonial-description
                | Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute
                | disputando cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei.
    section#quotes.section-block
      .quotes-slider
        .slider-content.quotes-slider-content
          ul.slide-list
            li.slide-item.quotes-slider-item.current
              .slider-item-quote
                | “Lorem ipsum dolor sit amet, ea doming epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando
                | cu est, eam dicam soluta ei. Vel dicam vivendo accusata ei, cum ne periculis molestiae pri. Lorem ipsum dolor sit amet,
                | ea doming epicuri iudicabit nam.”
              .slider-item-author.-text-bold JOHN STONE
            li.slide-item.quotes-slider-item
              .slider-item-quote
                | “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean commodo nulla sit amet nibh aliquet ullamcorper.
                | Vestibulum tincidunt, magna vel hendrerit laoreet, dui dui aliquam dui, nec semper ipsum augue ac tellus."
              .slider-item-author.-text-bold LEE RITENOUR
            li.slide-item.quotes-slider-item
              .slider-item-quote
                | “Aliquam finibus, enim at facilisis tempor, justo neque egestas nisi, eu varius magna tortor ut erat.
                | Cras consequat turpis ante, eu consequat ipsum rutrum vitae. Cras fermentum ac turpis non mattis."
              .slider-item-author.-text-bold PAT METHENY
            li.slide-item.quotes-slider-item
              .slider-item-quote
                | “Curabitur a egestas ligula, a elementum urna. Proin venenatis, ante vitae eleifend efficitur, libero
                | risus imperdiet ligula, nec rhoncus dolor velit at velit. Mauris vel lorem at tortor cursus faucibus
                | eget vitae est. Fusce ornare a orci gravida fermentum.”
              .slider-item-author.-text-bold VITALY KLICHKO
        .slider-controls
          .toggle-list
            .toggle-item.current
            .toggle-item
            .toggle-item
            .toggle-item
    section#portfolio.section-block
    section#contact-me.section-block
    footer
    script(src='./js/slider.js')
